.item {
	--padding: 6px 10px 6px;
	--background: #eee;
	/* padding: var(--padding); */
	max-width: 40em;
	margin: 0 auto;
	cursor:  pointer;
	font-family: verdana;
	font-size: 12px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	/* background: #eee; */
}

.items_mw42 .item {
	max-width: 40em;
}

.items_pad1 .item {
	--padding: 6px 10px;
}

.items_bg1 .item {
	--background: #eee;
}

.item-theme-1 .item {
	padding: 0.4em 0.8em;
}


/*
Instead of switching css classes for every css property+value (lots of combinations)...

Can we just use JavaScript to edit the CSS variables?

But we need dynamic CSS rules when we want to branch...

New theme --> create a new wrapper or individual class:
- add in css *variables*, not properties
- this way, when we go to edit with chrome, it will persist automatically

also, changing the variables isn't technically an override?


Hmm... why use variables?  If it's all dynamic, just use standard props?

Well, variables let you reuse base values... CSS sort of lets you do this, but not as well..?

One example is the "extend" process: .other-selector, .include-me { ... }

That's incredibly hard to read/understand, and now you have styles in 2 locations, and they're coupled to another style set (takes some copy+paste to break them out).



*/

.t1 .item {
	max-width: 40em;
}

.pad.item, .item > .preview {background: var(--background);padding: var(--padding);}

.item:last-child { border-bottom: none; }

.item.active {/* background: hsla(0, 0%, 96%, 1); */ }

.item:not(.active) > .content { display: none; }

.item.wrap {padding: 0;}

.item > .preview {/* margin-bottom: 2px; */}

/*.item:not(.wrap), .item > .preview {
	background: hsla(0, 0%, 80%, 1);
	}*/

.item.active > .preview {
	background: hsla(0, 0%, 90%, 1);
	/* color: #ddd; */
}

.item.active-route > .preview {
	background: hsl(178, 100%, 91%);
	/* color: #ddd; */
}

.item > .content {padding-left: 8px; background: var(--background);}